
<form *ngIf="can_edit" #n="ngForm" ngNativeValidate (ngSubmit)="submit()">
  <div class="">
    <em>Fields marked * are required</em>
  </div>
  <div class="row bottom-margin">
    <div class="col-md-4">
      <label>Product Name</label><br>
      <em class="text-muted">" double quotes not allowed</em><br>
      <input class="form-control" required [(ngModel)]="object.name" type='text' name='name'>

      <!-- <span >{{object.name}} </span> -->
    </div>
    <div class="col-md-4">
      <label>Cost Price*</label><br>
      <input class="form-control" required [(ngModel)]="object.cost_price" type='text' (blur)="setSellingPrice()"
        (change)="setSellingPrice()" (keyup)="setSellingPrice()" name='cost_price'>
      <label>Markup</label><br>
      <input class="form-control" required [(ngModel)]="object.markup" type='text' name='markup'
        (blur)="setSellingPrice()" (change)="setSellingPrice()" (keyup)="setSellingPrice()">

    </div>

    <div class="col-md-4">

      <label> Selling Price*</label> <br>
      <input required [(ngModel)]="object.price" type='text' name='price' (blur)="setMarkup()" (change)="setMarkup()"
        (keyup)="setMarkup()">

    </div>

  </div>
  <hr>
  <div class="row bottom-margin">
    <datalist id="unit_grouplist">
      <option value="{{u}}" *ngFor="let u of units">{{u}}</option>
    </datalist>
    <div class="col-md-4" *ngIf="id == null || id == undefined; else edit_unit">
      <label>Unit</label> <br>
      <input type="text" name="unit" [(ngModel)]="object.unit" list="unit_grouplist">



    </div>

    <ng-template #edit_unit>
      <div class="col-md-4" *ngIf="id != null">
        <label>Unit*</label><br>
        <label><input type="checkbox" name="change_unit" [(ngModel)]="change_unit"> Change from {{object.unit}}</label>
        <div *ngIf="change_unit">
          <label>New Unit</label> <br>
          <input type="text" name="new_unit" [(ngModel)]="new_unit" list="unit_grouplist">
          <br>
          <label>Conversion</label>
          <br> <em>Enter how many of the old unit ({{object.unit}}) make up 1 of
            the new unit ({{new_unit}}) to help adjust the stock & price</em>
            <div class="flex">
              <input class="unit_conversion_input" [placeholder]="object.unit" (change)="unitConverter()" (keyup)="unitConverter()"
              [(ngModel)]="conversion_quantity_current"
              name='conversion_quantity_current'> <mat-icon>sync_alt</mat-icon>
            <input class="unit_conversion_input" (change)="unitConverter()" (keyup)="unitConverter()" [(ngModel)]="conversion_quantity_new"
              name='conversion_quantity_new'>
            </div>
           <br>
          <em class="text-muted">Adjusted Price: <b>{{adjusted_price}}</b> Adjusted Cost Price:
            <b>{{adjusted_cost_price}}</b> Adjusted Stock:
            <b>{{adjusted_stock}}</b></em>. <span (click)="applyAdjusted()" class="btn btn-xs btn-info">Apply</span>


        </div>


      </div>
    </ng-template>


    <div class="col-md-4">
      <label>Category*</label><br>
      <div>
        <app-select-object
        [type]="'datalist'"
        [url]="'product/distinctList/category'"
        [labelProperty]="'category'"
        [keyProperty]="'category'"
        [initialValue]="object.category"
        (selectionChanged)="categorySelected($event)">
        </app-select-object>

        <input class="form-control" *ngIf="category_selected == 'other'" required [(ngModel)]="object.category"
          type='text' name='category'>

      </div>
      <!-- <span >{{object.category}} </span> -->


    </div>

    <div class="col-md-4" *ngIf="id == null || id == undefined; else edit_stock">
      <label>Starting stock*</label><br>
      <input value="0" class="form-control" required [(ngModel)]="object.current_stock" type='text' name='stock'>

    </div>
    <ng-template #edit_stock>
      <div class="col-md-4" *ngIf="id != null">
        <label>Current stock*</label><br>
        <label><input type="checkbox" name="change_stock" [(ngModel)]="change_stock"> Update Current Stock</label>
        <input [disabled]="!change_stock" class="form-control" required [(ngModel)]="object.current_stock" type='text'
          name='stock'>
          <div *ngIf="new_stock">To be adjusted to {{new_stock}}
            <button class="btn btn-xs" mat-button>Undo</button>
          </div>

      </div>
    </ng-template>



  </div>
  <hr>
  <div class="row bottom-margin">
    <div class="col-md-4">
      <label>Minimum stock*</label><br>
      <input value="1" class="form-control" required [(ngModel)]="object.min_stock" type='text' name='min_stock'>

    </div>
    <div class="col-md-4">
      <label>Maximum stock*</label><br>
      <input value="10" class="form-control" required [(ngModel)]="object.max_stock" type='text' name='max_stock'>

    </div>
    <div class="col-md-4">
      <label>Closest expiry*</label><br>
      <input class="form-control" required [(ngModel)]="object.expiry" type='date' name='expiry'>

    </div>



  </div>
  <hr>
  <div class="row bottom-margin">
    <div class="col-md-4">
      <label>Functional Group</label><br>
      <em class="text-muted">
        <i class="fa fa-info"></i>
        items in the same functional group can be swapped based on expiry
        dates
      </em>
      <app-select-object [type]="'datalist'"
      [labelProperty]="'description'"
        [keyProperty]="'description'"
       [url]="'product/distinctList/description'" [initialValue]="object.description" (selectionChanged)="groupSelected($event)">
      </app-select-object>

    </div>
    <div class="col-md-4">
      <label>Shelf</label><br>
      <input class="form-control" [(ngModel)]="object.shelf" type='text' name='shelf'>

    </div>
    <div class="col-md-4">
      <label>Barcode</label><br>
      <em class="text-muted"><i class="fa fa-info-circle"></i> One will be autogenerated if left blank</em>
      <input class="form-control" [(ngModel)]="object.barcode" type='text' name='barcode'>

    </div>


  </div>
  <hr>
  <div class="row bottom-margin">
    <div class="col-md-4">
      <label>Preferred Vendor</label><br>
      <app-select-object [url]="'customer'"
      [initialValue]="object.preferred_vendor"
      [initialValueKey]="'id'"
       (selectionChanged)="vendorSelected($event)">
      </app-select-object>

    </div>

    <div *ngIf="is_pharmacy" class="col-md-4">
      <label>Active Ingredients</label><br>
      <input class="form-control" [(ngModel)]="object.active_ingredients" type='text' name='active_ingredients'>

    </div>

    <div *ngIf="is_pharmacy" class="col-md-4">
      <label>Drug Information/Label</label><br>
      <textarea class="form-control" [(ngModel)]="object.drug_info" name='drug_info'></textarea>

    </div>

  </div>


  <!-- <b>Active Ingredients</b>
<button type="button" data-toggle="modal" data-target="#new_ai_modal" class="btn btn-sm btn-info">Add New </button>
<table class="table table-striped table-bordered table-striped">
  <tr *ngFor="let ai of object.active_ingredients">
    <td><a class="btn btn-sm btn-warning" (click)="removeAiProduct(ai)"><i class="fa fa-remove"></i> </a> </td>

    <td>{{ai.name}} </td>
  </tr>
</table> -->




  <button type="submit" class="btn btn-success">Submit</button>
  <button (click)="reset()" type="button" class="btn btn-warning">Reset</button>






</form>
