<div class="content">
  <div class="container">
    <div class="row align-center">
      <div class="col-3">
        <app-select-object [url]="'customer'"  [initialValueKey]="'id'"
          (selectionChanged)="customerSelected($event)">
        </app-select-object>
      </div>
      <div class="col-6">
        <app-select-product (onSelect)="productSelected($event)"></app-select-product>
      </div>
      <div class="col-3">
        <label class="text-danger">Shift:</label>
        <app-select-object [url]="'admin/getShifts'" [type]="'stringSelect'"  (selectionChanged)="shiftChanged($event)">
        </app-select-object>
        <!-- <select (change)="shiftChanged()" id="shift" name="shift" [(ngModel)]="shift">
          <option *ngFor="let sh of shifts">{{sh}}</option>

        </select> -->
        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#new_sales_end_shift_modal"> End
          Shift</button>
      </div>
    </div>

    <div class="row">
      <!-- <div class="col-4">

            </div> -->
      <div class="col-9">
        <div class="card card-body table-responsive sales_items">


          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Total</th>
                <th>On-hand</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of object.items" [ngClass]="{ 'table-warning':  i.current_stock < 1 || i.quantity > i.current_stock}">
                <td>{{i.product_name}}
                  <div class="flex flex-space-between">
                    <span>
                      <em [ngClass]="{ 'text-danger':  i.expired}"><br>
                        <i title="Item expired" class="fa fa-calendar"></i> {{i.expiry}} <span *ngIf="i.expired">
                          Expired</span> </em>
                    </span>

                    <button *ngIf="i.related.length > 0" (click)="showRelated(i)"
                      title="Related products with closer expiries" class="btn btn-xs btn-warning"><i
                        class="fa fa-refresh"></i> Swap</button>


                  </div>
                  <div>Refill:
                    <input type="date" name="refill" [(ngModel)]="i.refill_date">

                    <button *ngIf="!isEmpty(i.refill_date)" title="Remove or change refill date" (click)="i.removeRefill()"
                      mat-icon-button color="error">
                      <mat-icon>cancel</mat-icon>
                    </button>

                  </div>
                    <!-- <ng-template #no_label><span (click)="editItem(i)">Click to Set Label</span> </ng-template> -->

                </td>
                <td>
                  {{i.quantity}}
                  <br>
                  <button title="change quantity, price, label, unit" class="btn  btn-info  btn-sm" (click)="editItem(i)">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button title="increase quantity by 1" class="btn  btn-info  btn-sm" (click)="i.increment()">
                    +1
                  </button>
                  <button title="decrease quantity by 1" class="btn  btn-info  btn-sm" (click)="i.decrement()">
                    -1
                  </button>
                </td>
                <td>{{i.unit}} </td>
                <td>{{i.price}}</td>


                <td>{{(i.price * i.quantity).toFixed(2)}}</td>
                <td>{{i.current_stock}}
                  <i *ngIf="i.current_stock < 1 || i.quantity > i.current_stock" title="The quantity entered is more than the current stock"
                    class="text-danger fa fa-exclamation-triangle"></i>

                </td>
                <td>

                  <button class="btn  btn-warning  btn-sm" (click)="object.removeItem(i)">
                    <i class="fa fa-remove"></i>
                  </button>

                </td>
              </tr>
            </tbody>
          </table>



        </div>
      </div>
      <div class="col-3">
        <div class="sales_items flex-col flat-card">
          <!-- <div *ngFor="let pm of payment_methods">
            <label>{{pm.payment_method}}</label>
            <div class="flex flex-distribute">
              <input (keyup)="getTotalPaid()" (focus)="clearAmountPaid(pm)" size="10" placeholder="amount" type="text"
                [(ngModel)]="pm.amount_paid" name="{{pm.payment_method}}_amount"> <br>
              <input type="text" placeholder="transaction id" name="{{pm.payment_method}}_transaction_id"
                [(ngModel)]="pm.transaction_id">

            </div>

          </div> -->
        </div>
      </div>

    </div>


  </div>
</div>

<div class="padding-10">
  <div>
    <!-- Sub Total: GHC {{sale_total.toFixed(2)}} | {{tax}}% tax = {{tax_amount.toFixed(2)}}
    <span *ngIf="can_give_discount; else no_discount">
      <button class="btn btn-sm btn-info" (click)="applyDiscount()" *ngIf="discount == 0">Apply Discount</button>
      <span *ngIf="discount > 0">Discount Applied: GHC {{discount}}
        <button class="btn btn-sm btn-danger" (click)="removeDiscount()"><i class="fa fa-remove"></i> Remove</button>
      </span>
    </span> -->
    <ng-template #no_discount>
      <em title="You are not permitted to give discounts" class="text-muted">
        Discount <i class="fa fa-lock"></i>
      </em>
    </ng-template>


    <span class="">
      <!-- <button class="btn btn-info btn-sm " [disabled]="items.length < 1" (click)="holdItems()">Hold</button>
      <button class="btn btn-info btn-sm " (click)="viewHeldItems()">Held Items ({{held_items.length}})</button> -->
      &nbsp;
      <!-- <button class="btn btn-info btn-sm" (click)="showCustomerModal()"> <i class="fa fa-user"></i>
        <span *ngIf="!isEmpty(customer_name); else default_customer_btn_text"> {{customer_name}}
          - Refill - <em>{{set_refill ? "yes" : "no"}} </em>
        </span>
        <ng-template #default_customer_btn_text>
          Set Customer & Refill
        </ng-template>
      </button> -->
      <span title="Receipt Settings">
        Receipt
        <select (change)="setPrintSettings()" name="print_settings" [(ngModel)]="print_settings">
          <option value="save_print">Print Always</option>
          <option value="save_only">Don't Print</option>
        </select>
      </span>
      <span title="Drug information label Settings">
        Labels
        <select (change)="setLabelPrintSettings()" name="print_settings" [(ngModel)]="label_print_settings">
          <option value="print_always">Print Always</option>
          <option value="no_print">Don't Print</option>
        </select>
      </span>

    </span>

    <!-- <button data-toggle="modal" data-target="#cautions_modal" class="btn btn-sm btn-danger"><i class="fa fa-exclamation-triangle"></i> Cautions & Side effects
              <span class="badge badge-warning">{{cautions.length}}</span></button> -->

  </div>
  <div class="">

    <span>
      <!-- <b>Amount to be paid: GHC {{(discounted_total).toFixed(2)}} </b> | -->

    </span>
    <span class="">
      <button class="btn btn-sm btn-danger" (click)="cancel()"><i class="fa fa-remove"></i> Cancel</button>
      <button class="btn btn-sm btn-success" (click)="saveLocalItems()"><i class="fa fa-print"></i> Save</button>
    </span>


  </div>

</div>
