/* You can add global styles to this file, and also import other style files */

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

.ag-theme-alpine .sick-days-warning {
  background-color: sandybrown !important;
}

.ag-theme-alpine .sick-days-breach {
  background-color: lightcoral !important;
}

.ag-theme-alpine .warning {
  background-color: #ffeeba !important;
}

.ag-theme-alpine .danger {
  background-color: #f5c6cb !important;
}

.ag-theme-alpine .success {
  background-color: #bbf3bb !important;
}

.ag-theme-alpine .bordered {
  border-top: 1px solid #c8ced3;
  border-left: 1px solid #c8ced3;
}

.dashboard-card {
  /* background-color: #1a3014; */
  color: 1a3014;
  border-radius: 0px;
  border: 1px solid transparent;
  box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
  transition: all .2s ease;
  margin-bottom: 20px !important;
}

.dashboard-card:hover {
  transform: scale(1.03);
}

.title {
  font-size: 31px;
  font-weight: 600;
}

body {
  font-family: 'Muli', 'Trebuchet MS', Montserrat, Calibri, sans-serif;
  /* background-color: #f4f3ef; */
  background-blend-mode: overlay;
  background-image: url(assets/images/geometric-bg-overlay-01-1024x427.jpg),
    linear-gradient(135deg, #53a0fd 0%, #4161d4 100%) !important;
  background-attachment: fixed;
  background-size: cover;
}

.infobox {
  position: fixed;
  z-index: 3999;
  bottom: 0px;
  left: 0px;
}

.upinfobox {
  position: fixed;
  z-index: 3999;
  top: 75px;
  right: 0px;
}

.upinfobox {
  position: fixed;
  z-index: 3999;
  top: 125px;
  right: 0px;
}

.text-shadow {
  text-shadow: 2px 2px 3px black
}

.centerinfobox {
  position: fixed;
  z-index: 3999;
  top: 50%;
  right: 46%;
  box-shadow: 1px 5px 17px 12px #97c0f3;
}

.capitalize {
  text-transform: capitalize
}


.text-white {
  color: white;
}

.print-only {
  display: none;
}

@media print {
  .no-print {
    display: none;
  }

  .print-only {
    display: block;
  }

  section {
    padding: 0px;
    margin: 0px !important;
    top: 0px;
    left: 0px;
  }

  .card {
    all: unset;
  }
}


.sticky_top {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 75px;
  z-index: 15;
}

.sticky_bottom {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  z-index: 15;

  bottom: 5px;
  padding: 0px 0px 5px;
  background-color: white;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.starthidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

@media screen {
  #print_space {
    display: none;
  }
}

@media print {
  #print_space {
    display: block;
  }
}




.sales_items {
  /* height: 480px; */
  height: calc(100vh - 225px);
  overflow: auto
}

.transfer_items {
  /* height: 480px; */
  height: calc(100vh - 220px);
  overflow: auto
}

.stock_taking_items {
  /* height: 480px; */
  height: calc(100vh - 210px);
  overflow: auto
}

.focus_search {
  border: 1px solid gray;
}

.purchase_sales_items {
  height: calc(100vh - 230px);
  overflow: auto
}

#sales_search {
  padding-left: 5px;
  min-width: 80%;
  max-width: 80%;
  /* margin-bottom: 10px; */
  padding-bottom: 10px;
}

.search_results>.list-group>.list-group-item {
  padding: 5px 6px !important
}

.padding-10 {
  padding: 10px;
}

.empty_result {
  position: absolute;
  z-index: 10;
  background-color: white;
  box-shadow: 3px 5px 8px 2px grey;
  padding: 4px;
}

#customer_search {
  padding-left: 20px;
  min-width: 450px;
  max-width: 600px;
  /* margin-bottom: 10px; */
  padding-bottom: 10px;
}

.fixed_height,
.fixed-length {
  max-height: 450px;
  overflow: auto;
}

.modal-fixed-length {
  max-height: 380px;
  overflow: auto;
}

.search_results {
  max-height: 350px;
  max-width: 600px;
  min-width: 450px;
  position: fixed;
  overflow: auto;
  z-index: 100;
}

#invoice {
  page-break-after: always;
}

#invoice:last-child {
  page-break-after: avoid;
}

#invoice {
  display: none
}


.invoice {
  page-break-after: always;
}

.invoice:last-child {
  page-break-after: avoid;
}

.invoice {
  display: none
}

.fixed-bottom {
  position: fixed;
  bottom: 0px;
  margin-bottom: 0px !important;
}

.sales-fixed-bottom {
  position: fixed;
  bottom: 0px;
  margin-bottom: 0px !important;
  width: 100%;
}

.select-product-active {
  background-color: rgb(47, 104, 209) !important;
  color: white;
}

.btn {
  margin: 2px;
}

.navbar-success {
  background-color: #28a745;
}

.nav-item a {
  margin-left: 10px;
}

section.content {
  padding-top: 10px;
}

.submenu {
  padding-left: 40px;
}

.small-text {
  font-size: 13px;
}

.small_padding_bottom {
  padding-bottom: 10px !important;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.flex-distribute>* {
  flex: 1 1 0;
}


.focus_search {
  display: flex;
  flex-direction: row;
}

.search_input {
  flex: auto;
  padding-bottom: 10px;
}

.search_extra_options {
  /* width: 20%; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1 1 40%;

}

.flex_search {
  display: flex;
  flex-direction: column;
}

.search-list-group {
  background: white;
}

.search-list-group-item {
  border: 1px solid rgba(0, 0, 0, .125);
  padding: 5px;
}

.search-list-group-item:hover {
  background-color: lightblue;
}

html,
body {
  height: 100%;
}

.ellipsis_text {
  display: inline-block;
  /* width: 200px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.width-55 {
  width: 55%;
}

.rounded-border {
  border-radius: 5px;
}

.thin-border {
  border-width: thin;
  border-style: solid;
  padding: 5px;
}

.light-pink-border {
  border-color: lightpink;
}

.light-pink-bg {
  background-color: lightpink;
}

.light-blue-bg {
  background-color: lightskyblue;
  color: white;
}

.white-bg {
  background-color: white;
  color: black;
}


.flex-space-between {
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flat-card {
  border-bottom: thin solid grey;
}

/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

/* an object with some icon, some stretchable div in the middle, and some icons */
.flashing_btn {
  -webkit-animation: glowing 1300ms infinite;
  -moz-animation: glowing 1300ms infinite;
  -o-animation: glowing 1300ms infinite;
  animation: glowing 1300ms infinite;
}

@-webkit-keyframes glowing {
  0% {
    background-color: #0091b2;
    -webkit-box-shadow: 0 0 3px #0091b2;
  }

  50% {
    background-color: #21c7ed;
    -webkit-box-shadow: 0 0 15px #21c7ed;
  }

  100% {
    background-color: #0091b2;
    -webkit-box-shadow: 0 0 3px #0091b2;
  }
}

@keyframes glowing {
  0% {
    background-color: #0091b2;
    box-shadow: 0 0 3px #0091b2;
  }

  50% {
    background-color: #21c7ed;
    box-shadow: 0 0 15px #21c7ed;
  }

  100% {
    background-color: #0091b2;
    box-shadow: 0 0 3px #0091b2;
  }
}

.modal {
  overflow: scroll !important;
}
.cdk-overlay-container {
  z-index: 1065 !important;
}
.align-center {
  display: flex;
  align-items: center;
}
